
/* Show it is fixed to the top */

.body-Fixed {

  padding-top: 5rem;
}

.centrar
{
	margin-left: auto;
    margin-right: auto;
        text-align: center;
}
.bg-pendiente{
	background-color:#FFFFFF;
}
.bg-valido{
	background-color:#cef6e3;
}
.bg-rechazado{
	background-color:#ecd8d8;
}
.bg-azul
{
	/* background-color: #87b5e0; */
	
 background-color: #2866af;
}

/*Para hacer girar el boton...*/
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/*****************************  Estilos para Panel de Espera ******************************/

.popupEspera {
    left: 0px;
    position: fixed;
    top: 0px;
    width:100%;
    height:100%;
    z-index: 1;
    background:rgba(0,0,0,0.20);
    
}

.content-popupEspera {
    margin:0px auto;
    margin-top:200px;
    position:relative;
    padding:10px;
    width:30%;
    min-height:200px;
    max-height:300px;
    
    border-radius:4px;
    background-color:#FFFFFF;
    box-shadow: 0 2px 5px #666666;
    overflow: auto;
}

.content-popupEspera h2 {
    color:#0066CC;
   /* border-bottom: 1px solid #4169E1;*/
    font-size: 100%;font-weight: bold;
	vertical-align: middle;
}

.popupEspera-overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    display:none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.close {
    position: absolute;
    right: 15px;
}

.labelfor
{
margin-bottom: 0px;
/* font-weight: bold; */
color: #777676;
}

.mi-input
{
	font-weight: bold;
	color:#678ea7;

}
#lbl_titulo_CDO{
		font-size:16pt;
	}
/**********************************************/
.Opc-Menu-Activo
{
	color: White; 
	font-family: Arial;
	font-size: 14px; 
	font-weight: bold;
	
	    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.Opc-Menu
{
	
	color: #d7d7d7; 
	font-family: Arial;
	font-size: 14px;
	    padding-right: 0.5rem;
    padding-left: 0.5rem; 
}

.texto_menu
{
	font-family: Arial;
	font-size: 12pt;
    font-weight: bold;
    color: #cccccc;
}

.invert { 
	filter: invert(100%); 
	  
	}
#divEvaluaciones{
	margin-top:20px;
	margin-rigth:20px;
}
.fuente{
	font-size:.9em;
}
.agregarEvaluacion{
	position: static;
  margin-left:84%;
  margin-top:20px;
}
#radioModal{ 
	margin-bottom:20px;
	margin-top:20px;
	margin-left: auto;
	margin-right:auto;
}

.click{
	cursor:pointer;	
	user-select: none;
}


@media screen and (min-width: 601px) {
  div #tablaEvaluaciones {
    font-size: 100px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 679px) {
  #tablaEvaluaciones {
    font-size: 10px;
    margin-left:1px;
  }
}
@media screen and (max-width: 679px) {
  #evaluaciones td{
    font-size: 9px;
  }
}
@media screen and (max-width: 679px) {
  #evaluaciones th{
    font-size: 8px;
  }
  #evaluaciones td{
    font-size: 7px;
  }
}

.form-evaluacion{
	display: flex;
	text-align: center;
}
.form-evaluacion #radiosEvaluaciones{
	display: flex;
	 text-align: right;
}

.form-evaluacion #pregunta{
	width:90%;
	text-align: left;
}
.radio{
	width: 2em;
  height: 2em;
  margin-top: 0.25em;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
 
}
.radio1{
	  background-image:url(../images/1.svg);
}
.radio2{
	  background-image:url(../images/2.svg);
}
.radio3{
	  background-image:url(../images/3.svg);
}
.radio4{
	  background-image:url(../images/4.svg);
}
.radio5{
	  background-image:url(../images/5.svg);
}
.radio[type=radio] {
  border-radius: 50%;
  
}
.radio:active {
  filter: brightness(90%);
}
.radio:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.radio1:checked {
  background-color: #ff0b11;
  border-color: #ff0b11;
}
.radio2:checked {
  background-color: #ff80ff;
  border-color: #ff80ff;
}
.radio3:checked {
  background-color: #eae415;
  border-color: #eae415;
}
.radio4:checked {
  background-color: #0080ff;
  border-color: #0080ff;
}
.radio5:checked {
  background-color: #008000;
  border-color: #008000;
}


.radio:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.competencias{
	display: flex;
	text-align: center;
	color:white;
}
.competencias #opciones{
	display: flex;
	 text-align: center;
	 
}
@media screen and (max-width: 600px) {
  .form-evaluacion{
  	display:block;
 	text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .form-evaluacion #radiosEvaluaciones{
  	width:100%;
	margin-left:10%;
 	text-align: center;
  }
}

.competencias p{
	padding: 0px 16px 0px;
}

.competencias #tituloCompetencia{
	width:90%;
	text-align: left;
}
@media screen and (max-width: 600px) {
  .competencias p{
  	display:none;
  }
}
#navEvaluacion{
	margin-top: 0 !important;
    padding-top: 0 !important;
    position: sticky;
    text-align: right !important;
    top: 0;
    width: 100%;
    z-index: 1000;
    background:black;
}
#navEvaluacion p{
	text-align:center;
	color:white;
	font-weight: bold;
}
#navEvaluacion #opciones{
	display:flex;
	width:364px;
	font-size:12px;
	width:100%;
}	
  .numero{
  	display:flex;
	  width:16%;
  }
	.numero p{
		width:50px;
	}
	
	

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 600px) {
  #navEvaluacion #opciones {
  margin-left: 1px;
     width:100%;
     font-size:10px;
	  text-align:center;
  }
	#navEvaluacion #regresar {
  margin-left: 150%;
		margin-bottom:5px;
     width:100%;
     font-size:10px;
  }
	#navEvaluacion .numero {
  margin-left: 78%;
		margin-bottom:5px;
     width:100%;
     font-size:10px;
  }
}
@media screen and (max-width: 989px) {
  #navEvaluacion #opciones {
   	width:33%;
   font-size:10px;
  }
  
}

.radios{
	margin-left:5px;
}
#textEvaluaciones{
	margin-left:40px;
}
#navEvaluacion #divInstrucciones{
	width:100%;
	padding: 0px 2% 0px 2%;
	
}
#divInstrucciones h5{
	width:100%;
	font-size:15px;
	color: white;
	text-align:center;
}
@media screen and (max-width: 600px) {
  #navEvaluacion h5 {
  margin-left: 1px;
     font-size:7px;
  }
	  #navEvaluacion {
     font-size:7px;
	  padding: 0px 20% 0px 10%;
  }
}
@media screen and (max-width: 989px) {
   #navEvaluacion h5 {
     width:116%;
     font-size:7px;
  }
	#navEvaluacion h3 {
	font-size:18px;
     width:116%;
  }
}
#evalua{
	  padding: 0px 20% 0px 34%;
	}
#evalua p{
		margin-left:20px;
		margin-bottom:0px;
}
@media screen and (max-width: 600px) {
  #navEvaluacion #Image1 {
  margin-left: 1px;
     font-size:7px;
  }
}
@media screen and (max-width: 989px) {
  #navEvaluacion #Image1 {
     display:none;
     
  }
  #evalua{
	  padding: 0px 1px 0px;
	}
	#lbl_titulo_CDO{
		font-size:7px;
	}
	.texto_menu{
		font-size:7px;
	}
	.Opc-Menu-Activo{
		font-size:7px;
	}
	.Opc-Menu{
		font-size:7px;
	}
	#btnCerrar{
	font-size:7px;
	}
	#Image1{
	width:10%;
	}
}
.encabezado{
	display:flex;
}
.encabezado #Image1{
	display:relative; 
	margin-top:1%;
	margin-left:110px;
	height: 80px;
	width: 80px; 
}

