<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>240</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>mx.cdo.ControlDeIngresos</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServidorUsuarioServlet</display-name>
    <servlet-name>ServidorUsuarioServlet</servlet-name>
    <servlet-class>cdo.web.ServidorUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServidorUsuarioServlet</servlet-name>
    <url-pattern>/ServidorUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlDeIngresosServlet</display-name>
    <servlet-name>ControlDeIngresosServlet</servlet-name>
    <servlet-class>cdo.web.ControlDeIngresosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlDeIngresosServlet</servlet-name>
    <url-pattern>/ControlDeIngresosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmaIngresosACajaServlet</display-name>
    <servlet-name>ConfirmaIngresosACajaServlet</servlet-name>
    <servlet-class>cdo.web.ConfirmaIngresosACajaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmaIngresosACajaServlet</servlet-name>
    <url-pattern>/ConfirmaIngresosACaja</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmaEgresosServlet</display-name>
    <servlet-name>ConfirmaEgresosServlet</servlet-name>
    <servlet-class>cdo.web.ConfirmaEgresosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmaEgresosServlet</servlet-name>
    <url-pattern>/ConfirmaEgresos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorteDeCajaServlet</display-name>
    <servlet-name>CorteDeCajaServlet</servlet-name>
    <servlet-class>cdo.web.CorteDeCajaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorteDeCajaServlet</servlet-name>
    <url-pattern>/CorteDeCaja</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChequesDevueltosServlet</display-name>
    <servlet-name>ChequesDevueltosServlet</servlet-name>
    <servlet-class>cdo.web.ChequesDevueltosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChequesDevueltosServlet</servlet-name>
    <url-pattern>/ChequesDevueltos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidaSessionUsuarioServlet</display-name>
    <servlet-name>ValidaSessionUsuarioServlet</servlet-name>
    <servlet-class>cdo.web.ValidaSessionUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidaSessionUsuarioServlet</servlet-name>
    <url-pattern>/ValidaSessionUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CortePanamericanoServlet</display-name>
    <servlet-name>CortePanamericanoServlet</servlet-name>
    <servlet-class>cdo.web.CortePanamericanoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CortePanamericanoServlet</servlet-name>
    <url-pattern>/CortePanamericano</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CortePolizaServlet</display-name>
    <servlet-name>CortePolizaServlet</servlet-name>
    <servlet-class>cdo.web.CortePolizaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CortePolizaServlet</servlet-name>
    <url-pattern>/CortePoliza</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LineaBancariaServlet</display-name>
    <servlet-name>LineaBancariaServlet</servlet-name>
    <servlet-class>cdo.web.LineaBancariaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LineaBancariaServlet</servlet-name>
    <url-pattern>/LineaBancaria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LineaBancariaUploadFile</display-name>
    <servlet-name>LineaBancariaUploadFile</servlet-name>
    <servlet-class>cdo.web.LineaBancariaUploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LineaBancariaUploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChequesPosfechadosServlet</display-name>
    <servlet-name>ChequesPosfechadosServlet</servlet-name>
    <servlet-class>cdo.web.ChequesPosfechadosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChequesPosfechadosServlet</servlet-name>
    <url-pattern>/ChequesPosfechadosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultasDeCortesServlet</display-name>
    <servlet-name>ConsultasDeCortesServlet</servlet-name>
    <servlet-class>cdo.web.ConsultasDeCortesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultasDeCortesServlet</servlet-name>
    <url-pattern>/ConsultasDeCortes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MantoChequesServlet</display-name>
    <servlet-name>MantoChequesServlet</servlet-name>
    <servlet-class>cdo.web.MantoChequesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MantoChequesServlet</servlet-name>
    <url-pattern>/MantoCheques</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneraPolizaAnteriorServlet</display-name>
    <servlet-name>GeneraPolizaAnteriorServlet</servlet-name>
    <servlet-class>cdo.web.GeneraPolizaAnteriorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneraPolizaAnteriorServlet</servlet-name>
    <url-pattern>/GeneraPolizaAnterior</url-pattern>
  </servlet-mapping>
</web-app>