<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.kwx.PortalRamaKwx</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInicio</display-name>
    <servlet-name>ServletInicio</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.ServletInicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInicio</servlet-name>
    <url-pattern>/ServletInicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletBlogSabiasQue</display-name>
    <servlet-name>ServletBlogSabiasQue</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.ServletBlogSabiasQue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBlogSabiasQue</servlet-name>
    <url-pattern>/ServletBlogSabiasQue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenPdfDemo</display-name>
    <servlet-name>OpenPdfDemo</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.OpenPdfDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenPdfDemo</servlet-name>
    <url-pattern>/pdf/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContacto</display-name>
    <servlet-name>ServletContacto</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.ServletContacto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContacto</servlet-name>
    <url-pattern>/ServletContacto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDondeComprar</display-name>
    <servlet-name>ServletDondeComprar</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.ServletDondeComprar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDondeComprar</servlet-name>
    <url-pattern>/ServletDondeComprar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletImage</display-name>
    <servlet-name>ServletImage</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.ServletImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletImage</servlet-name>
    <url-pattern>/image/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMecanicos</display-name>
    <servlet-name>ServletMecanicos</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.ServletMecanicos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMecanicos</servlet-name>
    <url-pattern>/ServletMecanicos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletBuscoMecanico</display-name>
    <servlet-name>ServletBuscoMecanico</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.ServletBuscoMecanico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBuscoMecanico</servlet-name>
    <url-pattern>/ServletBuscoMecanico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEvaluarMecanico</display-name>
    <servlet-name>ServletEvaluarMecanico</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.ServletEvaluarMecanico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEvaluarMecanico</servlet-name>
    <url-pattern>/ServletEvaluarMecanico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSoyMecanico</display-name>
    <servlet-name>ServletSoyMecanico</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.ServletSoyMecanico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSoyMecanico</servlet-name>
    <url-pattern>/ServletSoyMecanico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileServlet</display-name>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/UploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompraEnLineaServlet</display-name>
    <servlet-name>CompraEnLineaServlet</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.CompraEnLineaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompraEnLineaServlet</servlet-name>
    <url-pattern>/CompraEnLinea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDondeComprarV2</display-name>
    <servlet-name>ServletDondeComprarV2</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.ServletDondeComprarV2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDondeComprarV2</servlet-name>
    <url-pattern>/ServletDondeComprarV2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletQuieroSerDistribuidor</display-name>
    <servlet-name>ServletQuieroSerDistribuidor</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.ServletQuieroSerDistribuidor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletQuieroSerDistribuidor</servlet-name>
    <url-pattern>/QuieroSerDistribuidor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContacto2</display-name>
    <servlet-name>ServletContacto2</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.ServletContacto2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContacto2</servlet-name>
    <url-pattern>/ServletContacto2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEncontrarProductosKWX</display-name>
    <servlet-name>ServletEncontrarProductosKWX</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.ServletEncontrarProductosKWX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEncontrarProductosKWX</servlet-name>
    <url-pattern>/EncontrarProductosKWX</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DondeComprarV3</display-name>
    <servlet-name>DondeComprarV3</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.DondeComprarV3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DondeComprarV3</servlet-name>
    <url-pattern>/DondeComprarV3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCatalogos</display-name>
    <servlet-name>ServletCatalogos</servlet-name>
    <servlet-class>com.cordina.PortalCordinaKwx.ServletCatalogos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCatalogos</servlet-name>
    <url-pattern>/ServletCatalogos</url-pattern>
  </servlet-mapping>
</web-app>