<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>cdo.portalOEP</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPaginaPrincipal</display-name>
    <servlet-name>ServletPaginaPrincipal</servlet-name>
    <servlet-class>web.ServletPaginaPrincipal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPaginaPrincipal</servlet-name>
    <url-pattern>/PaginaPrincipal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCatalogo</display-name>
    <servlet-name>ServletCatalogo</servlet-name>
    <servlet-class>web.ServletCatalogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCatalogo</servlet-name>
    <url-pattern>/Catalogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDondeComprar</display-name>
    <servlet-name>ServletDondeComprar</servlet-name>
    <servlet-class>web.ServletDondeComprar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDondeComprar</servlet-name>
    <url-pattern>/ServletDondeComprar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDistribuidorCercano</display-name>
    <servlet-name>ServletDistribuidorCercano</servlet-name>
    <servlet-class>web.ServletDistribuidorCercano</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDistribuidorCercano</servlet-name>
    <url-pattern>/DistribuidorCercano</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCompraOnline</display-name>
    <servlet-name>ServletCompraOnline</servlet-name>
    <servlet-class>web.ServletCompraOnline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCompraOnline</servlet-name>
    <url-pattern>/CompraOnline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletQuieroSerDistribuidor</display-name>
    <servlet-name>ServletQuieroSerDistribuidor</servlet-name>
    <servlet-class>web.ServletQuieroSerDistribuidor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletQuieroSerDistribuidor</servlet-name>
    <url-pattern>/QuieroSerDistribuidor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletImage</display-name>
    <servlet-name>ServletImage</servlet-name>
    <servlet-class>web.ServletImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletImage</servlet-name>
    <url-pattern>/image/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContacto</display-name>
    <servlet-name>ServletContacto</servlet-name>
    <servlet-class>web.ServletContacto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContacto</servlet-name>
    <url-pattern>/Contacto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProductos</display-name>
    <servlet-name>ServletProductos</servlet-name>
    <servlet-class>web.ServletProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProductos</servlet-name>
    <url-pattern>/Productos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletVideos</display-name>
    <servlet-name>ServletVideos</servlet-name>
    <servlet-class>web.ServletVideos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVideos</servlet-name>
    <url-pattern>/Videos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletQuienesSomos</display-name>
    <servlet-name>ServletQuienesSomos</servlet-name>
    <servlet-class>web.ServletQuienesSomos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletQuienesSomos</servlet-name>
    <url-pattern>/QuienesSomos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletVentajasCompetitivas</display-name>
    <servlet-name>ServletVentajasCompetitivas</servlet-name>
    <servlet-class>web.ServletVentajasCompetitivas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVentajasCompetitivas</servlet-name>
    <url-pattern>/VentajasCompetitivas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMenuCatalogos</display-name>
    <servlet-name>ServletMenuCatalogos</servlet-name>
    <servlet-class>web.ServletMenuCatalogos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMenuCatalogos</servlet-name>
    <url-pattern>/MenuCatalogos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DondeComprarv2</display-name>
    <servlet-name>DondeComprarv2</servlet-name>
    <servlet-class>web.DondeComprarv2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DondeComprarv2</servlet-name>
    <url-pattern>/DondeComprarv2</url-pattern>
  </servlet-mapping>
</web-app>