<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>240</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>mx.cdo.PortalRamaCdo</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciaSessionServlet</display-name>
    <servlet-name>IniciaSessionServlet</servlet-name>
    <servlet-class>cdo.Web.IniciaSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciaSessionServlet</servlet-name>
    <url-pattern>/IniciaSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarImagenesServlet</display-name>
    <servlet-name>MostrarImagenesServlet</servlet-name>
    <servlet-class>cdo.Web.MostrarImagenesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarImagenesServlet</servlet-name>
    <url-pattern>/image/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaginaPrincipalServlet</display-name>
    <servlet-name>PaginaPrincipalServlet</servlet-name>
    <servlet-class>cdo.Web.PaginaPrincipalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginaPrincipalServlet</servlet-name>
    <url-pattern>/PaginaPrincipal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueAutoparteBuscaServlet</display-name>
    <servlet-name>QueAutoparteBuscaServlet</servlet-name>
    <servlet-class>cdo.Web.QueAutoparteBuscaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueAutoparteBuscaServlet</servlet-name>
    <url-pattern>/QueAutoparteBusca</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SucursalesServlet</display-name>
    <servlet-name>SucursalesServlet</servlet-name>
    <servlet-class>cdo.Web.SucursalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SucursalesServlet</servlet-name>
    <url-pattern>/Sucursales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BolsaDeTrabajoServlet</display-name>
    <servlet-name>BolsaDeTrabajoServlet</servlet-name>
    <servlet-class>cdo.Web.BolsaDeTrabajoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BolsaDeTrabajoServlet</servlet-name>
    <url-pattern>/BolsaDeTrabajo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BolsaTrabajoUploadFileServlet</display-name>
    <servlet-name>BolsaTrabajoUploadFileServlet</servlet-name>
    <servlet-class>cdo.Web.BolsaTrabajoUploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BolsaTrabajoUploadFileServlet</servlet-name>
    <url-pattern>/BolsaTrabajoUploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarritoDeComprasServlet</display-name>
    <servlet-name>CarritoDeComprasServlet</servlet-name>
    <servlet-class>cdo.Web.CarritoDeComprasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarritoDeComprasServlet</servlet-name>
    <url-pattern>/CarritoDeCompras</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MantenimientoCarritoCompras</display-name>
    <servlet-name>MantenimientoCarritoCompras</servlet-name>
    <servlet-class>cdo.Web.MantenimientoCarritoCompras</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MantenimientoCarritoCompras</servlet-name>
    <url-pattern>/MantenimientoCarritoCompras</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EstadoDeCuentaServlet</display-name>
    <servlet-name>EstadoDeCuentaServlet</servlet-name>
    <servlet-class>cdo.Web.EstadoDeCuentaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EstadoDeCuentaServlet</servlet-name>
    <url-pattern>/EstadoDeCuenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactenosServlet</display-name>
    <servlet-name>ContactenosServlet</servlet-name>
    <servlet-class>cdo.Web.ContactenosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactenosServlet</servlet-name>
    <url-pattern>/Contactenos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeguimientoDePedidosServlet</display-name>
    <servlet-name>SeguimientoDePedidosServlet</servlet-name>
    <servlet-class>cdo.Web.SeguimientoDePedidosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeguimientoDePedidosServlet</servlet-name>
    <url-pattern>/SeguimientoDePedidos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CentroDeMensajesServlet</display-name>
    <servlet-name>CentroDeMensajesServlet</servlet-name>
    <servlet-class>cdo.Web.CentroDeMensajesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CentroDeMensajesServlet</servlet-name>
    <url-pattern>/CentroDeMensajes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TipoContactoServlet</display-name>
    <servlet-name>TipoContactoServlet</servlet-name>
    <servlet-class>cdo.Web.TipoContactoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TipoContactoServlet</servlet-name>
    <url-pattern>/TipoContacto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CuentasDepositoServlet</display-name>
    <servlet-name>CuentasDepositoServlet</servlet-name>
    <servlet-class>cdo.Web.CuentasDepositoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuentasDepositoServlet</servlet-name>
    <url-pattern>/CuentasDeposito</url-pattern>
  </servlet-mapping>
</web-app>