<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <session-config>
    <session-timeout>480</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>mx.cdo.EncuestasEmpleados</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpleadosServlet</display-name>
    <servlet-name>EmpleadosServlet</servlet-name>
    <servlet-class>Web.EmpleadosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpleadosServlet</servlet-name>
    <url-pattern>/EmpleadosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EvaluacionesServlet</display-name>
    <servlet-name>EvaluacionesServlet</servlet-name>
    <servlet-class>Web.EvaluacionesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvaluacionesServlet</servlet-name>
    <url-pattern>/EvaluacionesServlet</url-pattern>
  </servlet-mapping>
</web-app>